---
layout: 'default'
title: 'Archiv'
---

.news
  %span
    2013
  %a{name: 'potenzialanalysen-kmu-vitalisierungsprozess'}
  .newsContent
    %h4
      Nur wer seine Potenziale kennt, kann diese zur Unternehmens-Vitalisierung
      nutzen.
    %h5
      Ganzheitlicher Unternehmenserfolg
    %p
      Bei der Beratung eines Vitalisierungsprozesses geht das Alchimedus- Prinzip
      von den folgenden Grundsätzen aus;
    %ul
      %li
        Jedes Unternehmen ist einzigartig - Lösungsansätze somit ebenfalls.
      %li
        Best Practice und die Orientierung an anderen führt zum zweiten Platz.
      %li
        Neue, einzigartige Produkte und Dienstleistung machen den Unterschied.
      %li
        Berater sollen dort eingesetzt werden, wo es dem Unternehmen an Zeit und Kompetenzen mangelt.
      %li
        Die Lösung und der neue Weg müssen von innen nach aussen entwickelt werden, also aus dem Unternehmen mit der Führung und den Mitarbeitern.
      %li
        Ein ganzheitlicher Ansatz bringt eine tragfähige Lösung, welche alle Potenziale nutzt.
    %p
      Gerne begleiten wir sie in ihrem Vitalisierungsprozess.
    %table
      %tbody
        %tr
          %td
            Email:
          %td
            %a{href: 'mailto:mw@weixelbaumer-partner.ch'} mw@weixelbaumer-partner.ch
        %tr
          %td
            Telefon direkt:
          %td
            +41 (0)43 311 58 70
        %tr
          %td
            Mobile:
          %td
            +41 (0)79 754 88 00
    %p
      Mehr über die Potenzialanalyse und den Prozessablauf finden sie im
      = succeed '.' do
        %a{href: '/documents/Alchimedus-Methode_-_Beschrieb.pdf', target: 'new', title: 'Download'} Download

.news
  %span
    April 2012
  %a{name: 'artikel-zum-thema-vernderung'}
  .newsContent
    %h5
      „Die einzige Konstante ist die Veränderung“
    %p
      \- was der griechische Philosoph Heraklit von Ephesus um ca. 500 v.Chr.
      sagte, gilt heute mehr denn je: Kürzere präzise Richtungswechsel bei hoher
      Frequenz fordern ein Maximum an physischer und psychischer Flexibilität
      – von den Mitarbeitenden ebenso wie von der Unternehmensleitung.
    %p
      Veränderungsfähigkeit als Kernkompetenz wird künftig für Unternehmen und
      Führungskräfte das erfolgsentscheidende Differenzierungsmerkmal sein.
    %p
      Geschäftsleitungen sind gefordert, ihre Organisationen und Teams für den
      permanenten Veränderungslauf fit und auf Kurs zu halten. Führung ist dabei
      ein zentrales Element für Stabilität und Orientierung. Sie muss sich daher
      selbst permanent weiterentwickeln, wollen Veränderungen gewinnbringend
      gemanagt und für eine erfolgreiche Weiterentwicklung des Unternehmens genutzt
      werden.
    %p
      Antworten auf einige der Fragen finden sie im Artikel '
      = succeed '\'' do
        %a{href: '/documents/Kultur_verändern_oder_Veränderung_kultivieren.pdf', title: 'Veränderung kultivieren'} Veränderung kultivieren
    %p
      Weiterführende Gedanken zum Thema Veränderung finden sie auch unter:
    %ul
      %li
        %a{href: '/angebot/unternehmensentwicklung/kulturwandel.html', title: 'Kulturwandel'} Kulturwandel
      %li
        %a{href: '/angebot/change-und-projektmanagement/change-prozesse.html', title: 'Change Prozesse'} Change Prozesse
.news
  %span 1. Februar 2012
  %a{name: 'referat-hk-beider-basel---thema-change'}
  .newsContent
    %h5
      Kultur verändern oder Veränderung kultivieren
    %p
      %em - wenn Abfahrtsspezialisten zu einem Slalomrennen starten müssen.
    %p
      In Unternehmen sind Slalomqualitäten gefragter denn je. Steilabfahrten
      im Abfahrtskorridor mit eingeschränkter Umsichtigkeit unterwegs zum anvisierten
      Ziel, schiessen heute des Öfte-ren über das Ziel hinaus. Kürzere präzise
      Richtungswechsel bei hoher Frequenz, ähnlich einer Slalomabfahrt, fordern
      ein Maximum an Beweglichkeit, Präsenz, Flexibilität und eine solide Basis
      an Stabilität. Ist dies das Ende der Speed-Disziplinen in der Wirtschaft
      und somit der stabilen, langfristigen Unternehmensplanung und Ausrichtung?
    %p
      Wie fit und flexibel sind Sie und Ihre Organisation heute um mit den wachsenden
      dynami-schen Anforderungen aus Markt und Gesellschaft umzugehen?
      %br/
      Veränderungsfähigkeit als Kernkompetenz wird zukünftig für Unternehmer,
      Führungskräfte und Unternehmen ein erfolgsentscheidendes Differenzierungsmerkmal
      sein. Was heute Gold bedeutet kann morgen schon Blei wert sein. Geschäftsführer
      und Geschäftsleitungen sind gefordert Ihre Organisationen und Belegschaften
      für die Slalomrennen fit zu machen. Nur wie geht das? Und welchen Beitrag
      muss das Management selbst leisten damit‘s gelingt?
      %br/
      Führungsstil und Rollenbild sind ebenfalls im Wandel und müssen zeitgemäss
      entwickelt werden, denn eines bleibt auch bei Slalomrennen stabil – Führung
      ist KEY und sorgt für die notwendige Orientierung und Sicherheit.
    %p
      Folgende Themen werden beleuchtet:
    %ul
      %li
        Mit Flexibilität und Kurzfristigkeit umgehen - als Unternehmen die Veränderungsfähigkeit
        verbessern
    %ul
      %li
        Vom Abfahrtsspezialisten zum Slalomläufer – individuelle Veränderung und
        ihre Grenzen
    %ul
      %li
        Führung im Wandel oder Führen im Wandel – Führungskompetenzen der Gewinner
        von morgen
    %p
      Referenten:
      %br/
      Mirko Weixelbaumer
      %br/
      Inhaber und CEO von Weixelbaumer und Partner GmbH
    %p
      Heidi Spirgi
      %br/
      Teilinhaberin Ischer &amp; Spirgi
    %p
      Mittwoch, 1. Februar 2012 | 17.00 bis 19.00 Uhr | Handelskammer beider
      Basel
      %br/
      Aeschenvorstadt 67
    %p
      Weitere Informationen zur Veranstaltung und Anmeldung finden sie im Veranstaltungs-Flyer
      \- siehe Downloads.
.news
  %span Dezember 2011
  %a{name: 'zielfhrende-gesprche'}
  .newsContent
    %h5
      Zielführende, umsetzungsorientierte Gespräche
      %br/
      Wertschaffende, motivierende Meetings
    %p
      %strong Darum geht‘s
      %br/
      In vielen beruflichen Situationen, Gesprächen, Verhandlungen oder Sitzungen
      werden Lösungen besprochen, die letztlich nicht zu den gewünschten Ergebnissen
      und Fortschritten führen. Es mangelt an konsequentem Ziel- und Ergebnisfokus.
      %br/
      Durch das Fördern einer lösungsfokussierten Haltung, verbessern wir die
      Fähigkeiten eines Menschen oder eines Teams, den Fokus nicht auf die Probleme,
      sondern stabil auf;
    %ul
      %li
        die Sache
      %li
        die Lösungen
      %li
        die gewünschten Ergebnisse
      %li
        die erforderlichen Massnahmen
      %li
        die notwendigen Voraussetzungen und Kompetenzen
    %p
      gerichtet zu halten.
    %p
      Wir unterstützen sie gerne dabei diese Kompetenz weiter zu entwickeln.
      %br/
      Details finden sie im
      %a{href: '/documents/Zielführende_Gespräche.pdf', target: 'new', title: 'Details zum Thema'} Download
.news
  %span Juli - September 2011
  %a{name: 'npm-studie-2011'}
  .newsContent
    %h4
      NPM-Studie 2011: Nachhaltiges Personalmanagement als Erfolgsfaktor
    %h5
      Information August 2011
    %p
      Infolge des schlechten Rücklaufs und der geringen Anzahl an teilnehmenden
      Unternehmen (massgebend in Deutschland) ist das angestrebte Studienziel
      nicht mehr zu erreichen.
      %br/
      Eine empirische Analyse und aussagekräftige Gesamtauswertungen sind mit
      dem vorliegenden Datenmaterial nicht gegeben.
    %p
      Die INPM-Studienleitung hat daher gestern Mittwoch 27.7.2011 entschieden,
      die Studie mit
      = succeed '.' do
        %strong sofortiger Wirkung einzustellen
    %p
      Eine Studienteilnahme ist somit nicht mehr möglich.
      %br/
      Was bedeutet das für Unternehmen, die bereits teilgenommen haben.
    %h5
      Was ändert sich?
    %p
      1. Sie bekommen den vollen Betrag von 500 Euro zurückerstattet
      %br/
      2. Die Auswertung wird nicht empirisch gestützt sein
      %br/
      3. Sie erhalten keine quantitativen Benchmarks
      %br/
      4. Das Ergebnis Symposium in Deutschland findet nicht statt
    %h5
      Was bleibt gleich?
    %ul
      %li
        Sie bekommen qualitative Benchmarks zur Weiterentwicklung Ihres Personalmanagements
      %li
        Sie bekommen die individuelle Auswertung &amp; Ergebnispräsentation für
        Ihr Unternehmen, sofern vereinbart
      %li
        Sie können kostenlos am HR Praxis Fachtag im Wert von CHF 890.- am 29.
        November 2011 teilnehmen
      %li
        Sie haben die Möglichkeit, Ihr Fach-Netzwerk zu erweitern
    %h5
      HR-Praxis-Fachtag Programm-Überblick:
    %ul
      %li
        Microsoft Schweiz: Talent Management – Talente im KMU global gewinnen
      %li
        Clariden Leu: HR-Leadership – Die Rolle von HR in der Unternehmensführung
      %li
        Grand Casino Baden: HR-Kernprozesse – Die Wirksamkeit und Effizienz erhöhen
      %li
        Avaloq: HR-Transformation – Umsetzung eines modernen HR-Geschäftsmodells
      %li
        HR Round Tables: Rekrutierung, Change Management, Demografie und Coaching 
    %p
      Die Themenwahl ist angelehnt an die qualitativen Ergebnisse der Interviews
      mit Schweizer Unternehmen.
    %p
      Mehr Informationen zum HR-Praxis-Fachtag erhalten Sie
      = succeed '.' do
        %strong
          %a{href: 'http://www.weixelbaumer-partner.ch/aktuelles/hr---zfu-swiss-practice-day/', title: 'Programm HR Praxis Fachtag'} hier
.news
  %span 29. November 2011
  %a{name: 'hr---swiss-practice-day---rckblick'}
  .newsContent
    %h5
      %br/
      Rückblick zum HR ZfU Swiss Practice Day
      %br/
      29. November 2011 im Grand Casino Baden
    %p
      Die Teilnehmer erlebten einen praxisnahen HR-Fachtag mit Fokus HR-Lösungen für KMUs.
    %p
      Professionelle HR-Lösungen und ein auf Nachhaltigkeit ausgerichtetes Personal
      Management standen bei allen Themendiskussionen im Vordergrund. Die Differenzierung
      zur Konkurrenz ist häufig nicht nur im „War of Talents“ ausschlaggebend,
      sondern auch bei der Gewinnung von erfolgskritischen Fachspezialisten.
    HR kommt gerade in KMUs eine immer wichtigere Rolle zu, damit Werte
    und Unternehmensphilosophie
    %em nach innen
    konsistent gelebt und
    %em nach aussen
    als wirksame Argumente eingesetzt werden können. Es wurden diverse interessante Wege und Ideen aufgezeigt, wie es
    Schweizer KMUs trotz knapper Budgets gelingt wichtige Faktoren umzusetzen
    und wegweisende Weichen für die Zukunft zu stellen.

    Das Thema 'Verrechenbarkeit' von HR-Leistungen um damit die Wertigkeit der Beiträge zu erhöhen, wurde intensiv und kontrovers diskutiert. Das HR- und PE-Massnahmen in wirtschaftlich angespannten Zeiten noch stärker auf dem Geschäftsleitungs-Prüfstand sind, ist für die Mehrheit der Teilnehmer bereits heute resp. mit dem Budget 2012 Realität geworden.
    %p
      Falls Sie Interesse an einzelnen Beiträgen und Inhalten der Veranstaltung haben - kontaktieren Sie uns bitte.
    Anbei die Themenübersicht:
    %ul
      %li
        %strong SIX Group:
        Talent Management – Globales Talent Management im KMU
      %li
        %strong Manor:
        HR-Leadership – Die Rolle von HR in der Unternehmensführung
      %li
        %strong Grand Casino Baden:
        HR-Kernprozesse – Die Wirksamkeit und Effizienz
        erhöhen
      %li
        %strong Avaloq:
        HR-Transformation – Umsetzung eines modernen HR-Geschäftsmodells
      %li
        %strong Ergebnisse NPM-Studie 2011:
        Qualitative Auswertung und Trends im HR bei KMUs
    %p
      An dieser Stelle nochmals ein herzliches Dankeschön an das Grand Casino Baden, an alle aktiven Teilnehmerinnen und Teilnehmer und an die Referentinnen und Referenten, die den erfolgreichen Anlass ermöglicht haben.
      %strong
.news
  %span 2011
  %a{name: 'hr-today-artikel-werte-workshops-als-wertevernichter'}
  .newsContent
    %h4
      HR-Today Fachartikel zum Thema Unternehmens-Werte und Leitbilder und wie
      es mittels gelebter Unternehmenswerte gelingt, sich von der Konkurrenz
      zu differenzieren.
    %p
      Jeder hat sie, jeder braucht sie, sie gehören zum guten Image jeden Unternehmens:
      die Werte. Doch oftmals verkehren sich Werte-Initiativen ins Gegenteil.
      Etwa dann, wenn die Etablierung von neuen Unternehmenswerten falsch aufgegleist
      wird. Drei typische Fehler – und wie man es richtig macht.
    %p
      Jährlich werden in der Schweiz Hunderte von kostspieligen Workshops und
      Retreats durchgeführt, um ein Leitbild und passende Unternehmens- und Führungswerte
      zu erarbeiten. Doch die Initiative endet oft so rasch, wie sie gestartet
      wurde. Die in Hochglanzbroschüren, auf Plakaten, Mausmatten und Internetpublikationen
      angepriesenen Werte werden von den Mitarbeitenden und Kunden im Geschäftsalltag
      weder wahrgenommen noch gelebt.
    %ul
      %li
        Wie kommt es zu dieser verheerenden Diskrepanz?
      %li
        Warum werden in der Realität nicht selten Werte vernichtet statt Werte
        geschaffen?
      %li
        Was braucht es, damit sie in die Kultur übergehen und zu einem entscheidenden
        Differenzierungs- und Identitätsmerkmal des Unternehmens werden?
    %p
      In diesem
      %strong Fachartikel
      erläutern wir an einem
      = succeed '!' do
        %strong Kundenbeispiel - wie es gelingt
    %p
      %a{href: '/documents/Werte-Workshop_als_Wertevernichter.pdf', title: 'Download Werte-Workshops als Wertvernichter'} Download Werte-Workshops als Wertvernichter
    %p
      Für weitere Informationen zum
      %strong Thema Unternehmenswerte / Kultur- und Wertewandel
      kontaktieren
      Sie uns bitte.
.news
  %span Dezember 2010
  %a{name: 'unternehmenskultur-kulturwandel'}
  .newsContent
    %h4
      Erfolgsfaktor Unternehmenskultur
    %p
      Das Thema Kultur ist allgegenwärtig und doch kaum greifbar. Erstaunlich
      wenn man bedenkt, dass viele unternehmerische Vorhaben genau infolge dieses
      Parameters scheitern. Wir haben für Sie das Thema basierend auf bestehender
      Fachliteratur zusammengefasst und es mit eigenen Erfahrungen und Sichtweisen
      angereichert.
    %p
      Es handelt sich dabei um einen kulturellen Denkanstoss.
    %ul
      %li
        Unternehmenskultur als Erfolgsfaktor
      %li
        Was zeichnet eine Unternehmenskultur aus?
      %li
        Welche Vorteile hat eine bewusst gelebte Unternehmenskultur?
      %li
        Kann Kultur Kontrolle ersetzen?
    %p
      Hinweis: 2/3 aller Reorganisation, Mergers, Neuausrichtungen und Out-Placements
      erreichen die betriebswirtschaftlichen Ziele nicht!
    %p
      %a{href: '/documents/Unternehmenskultur_2010.pdf', target: 'new'} Download Unternehmenskultur 2010
    %p
      Für weitere Informationen zum
      %strong Thema Unternehmenskultur / Kulturwandel
      kontaktieren Sie uns
      bitte.
.news
  %span Oktober 2010
  %a{name: 'erkenntnisse-pmo-symposium-2010'}
  .newsContent
    %h4
      Erkenntnisse - PMO Symposium 2010, 28. - 30. Sept. 2010, Hamburg/Deutschland
    %p
      Vom 28. – 30. September 2010 fand in Hamburg das PMO Symposium 2010 zum
      Thema Projektwirtschaft statt. Zu folgenden Themen sind als Download Erkenntnisse
      und Entwicklungen für Sie zusammengefasst.
    %ul
      %li
        Projektarbeit / -Wirtschaft demografischen Entwicklung und Megatrends
        \- Keynote von Prof. Dr. Jutta Rump
      %li
        Studienergebnisse von Prof. Dr. Brian Hobbs - 'Variability' der Form,
        Funktion und Legitimation eines PMOs
      %li
        Beitrag von Alan Ferguson (P3O) - Transformations- oder Verankerungsphase
      %li
        PMO als Change Agent - Veränderungsfähigkeit von Unternehmungen
    %p
      Hinweis: Maximal 15% der Unternehmungen führen eine systematische Projekt-Erfolgskontrolle
      durch!
    %p
      %a{href: '/documents/Erkenntnisse_PMO_2010_Hamburg.pdf', target: 'new'} Download Erkenntnisse PMO 2010
    %p
      Für weitere Informationen zu den Ergebnissen der
      %strong internationalen PMO Studie 2010
      kontaktieren Sie uns bitte.
.news
  %span Januar - März 2011
  %a{name: 'laufende-trainings-angebote'}
  .newsContent
    %h4
      Laufende Trainings-Angebote von Weixelbaumer und Partner: 
    %ul
      %li
        25. - 26. März. 2011
        %br/
        Veränderungen erfolgreich gestalten – Change Management in der Praxis
      %li
        5. - 7. Mai 2011
        %br/
        Lean Projekt Management – Projekt Management einfach gemach
    %p
      Die Kurse finden in Zürich oder Basel statt.
    %p
      Nähere Informationen:
      %a{href: '/documents/Seminarkalender_10_def_Version3.pdf'} Download des Seminarkalenders
