---
layout: 'default'
title: 'Sitemap'
---

%ul
  = nav_link 'Weixelbaumer &amp; Partner Homepage', '/index.html'
  = nav_link 'Aktuelles', '/aktuelles/afterwork-themenabend-kriese.html', visible: true do
    = nav_link "Afterwork Themenabend - 'Krise'", '/aktuelles/afterwork-themenabend-kriese.html'
    = nav_link "Afterwork Themenabend - 'Motivation'", '/aktuelles/afterwork-themenabend-motivation.html'
    = nav_link 'Erfolgsstory - ERP Einführung', '/aktuelles/erfolgsstory-erp-einfuehrung.html'
    = nav_link 'Potenzialanalysen - KMU-Vitalisierungsprozess', '/aktuelles/potenzialanalysen-kmu-vitalisierungsprozess.html'
    = nav_link 'Archiv', '/aktuelles/archiv.html'
  = nav_link 'Angebot', '/angebot.html', visible: true do
    = nav_link 'Unternehmensentwicklung', '/angebot/unternehmensentwicklung/potenzialanalyse-vitalisierungsprozess.html', visible: true do
      = nav_link 'Potenzialanalyse - Vitalisierungsprozess', '/angebot/unternehmensentwicklung/potenzialanalyse-vitalisierungsprozess.html'
      = nav_link 'Visionsarbeit &amp; Neuausrichtung', '/angebot/unternehmensentwicklung/visionsarbeit-und-neuausrichtung.html'
      = nav_link 'Führungskräfteentwicklung', '/angebot/unternehmensentwicklung/fuehrungskraefteentwicklung.html'
      = nav_link 'Teamentwicklung', '/angebot/unternehmensentwicklung/teamentwicklung.html'
      = nav_link 'Kulturwandel', '/angebot/unternehmensentwicklung/kulturwandel.html'
    = nav_link 'Coaching', '/angebot/coaching/einzel-coaching.html', visible: true do
      = nav_link 'Einzel-Coaching', '/angebot/coaching/einzel-coaching.html'
      = nav_link 'Team-Coaching', '/angebot/coaching/team-coaching.html'
      = nav_link 'Konfliktmanagement', '/angebot/coaching/konfliktmanagement.html'
    = nav_link 'Change- &amp; Projekt Management', '/angebot/change-und-projektmanagement.html', visible: true do
      = nav_link 'Projekt Management Einführungen', '/angebot/change-und-projektmanagement/pm-einfuehrungen.html'
      = nav_link 'Change Prozesse', '/angebot/change-und-projektmanagement/change-prozesse.html'
      = nav_link 'Prozess Management', '/angebot/change-und-projektmanagement/prozess-management.html'
      = nav_link 'Projektberatungen', '/angebot/change-und-projektmanagement/projektberatungen.html'
    = nav_link 'Trainings & Workshops', '/angebot/trainings-und-workshops.html', visible: true do
      = nav_link 'Führungskräfte Workshops', '/angebot/trainings-und-workshops/fuehrungskraefte-workshops.html'
      = nav_link 'Projekt Management', '/angebot/trainings-und-workshops/projekt-management.html'
      = nav_link 'Change Management', '/angebot/trainings-und-workshops/change-management.html'
      = nav_link 'Softskills', '/angebot/trainings-und-workshops/softskills.html'
      = nav_link 'Präsenz - Präsentieren mit Persönlichkeit', '/angebot/trainings-und-workshops/praesenz-praesentieren-mit-persoenlichkeit.html'
  = nav_link 'Philosophie', '/philosophie/wofuer-wir-stehen.html', visible: true do
    = nav_link 'Wofür wir stehen', '/philosophie/wofuer-wir-stehen.html'
    = nav_link 'Unser Ansatz', '/philosophie/unser-ansatz.html'
    = nav_link 'Vision', '/philosophie/vision.html'
  = nav_link 'Über uns', '/ueber-uns/inhaber.html', visible: true do
    = nav_link 'Inhaber', '/ueber-uns/inhaber.html'
    = nav_link 'Unternehmen', '/ueber-uns/unternehmen.html'
    = nav_link 'Partner', '/ueber-uns/partner.html'
    = nav_link 'Standort / Lageplan', '/ueber-uns/standort-lageplan.html'
  = nav_link 'Referenzen', '/referenzen.html'
  = nav_link 'Kontakt', '/kontakt.html'
